<div class="m-0 bg-white-200">
  <div class="m-0 light-section">
    <div class="navbar mb-0">
      <h1 class="p-4 w-10">
        <strong>SidB</strong>
      </h1>
      <ul>
        <li><a href="/" class="px-3 nav-item nav-link active aTag"><h3>Home</h3></a></li>
        <li><a href="#Projects" class="px-3 nav-item nav-link active aTag"><h3>Projects</h3></a></li>
        <li><a href="#Skills" class="px-3 nav-item nav-link active aTag"><h3>Skills</h3></a></li>
        <li><a href="#Contact" class="px-3 nav-item nav-link active aTag"><h3>Contact</h3></a></li>
      </ul>
    </div>

    <!-- <div class="flex h-75">
      <div class="p-16 pt-20 pl-30 w-50 light-section">
        <h1>Myself, Siddhesh Bajad</h1>
        <div class="about">
          <h6 class="pt-16 pl-10 justify-text">
            I am a Final year undergrad student of BTech Information Technology department of Pimpri Chinchwad College of Engineering (PCCOE), Pune. 
            I am interested in learning new technologies. Certain skills that I have worked with include Data Structures and Algorithms in C/C++, Web Development (HTML, CSS, JavaScript, Nodejs, React, Databases), Ethereum Blockchain using Solidity and Smart contracts.
            Apart from Tech, I love to play Badminton and Cricket, hanging out with my friends and listening to music.
          </h6>
        </div>
      </div>
      <div class="w-50 light-section justify-content-center">
        <div class="image m-10 h-100">
          <div class="dark-section h-75 m-10 w-75">
            <img class="rounded-xl p-5" src="assets/sidPhoto.png" alt="Image">
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <div class="container my-5">
    <div class="row flex-row-reverse align-items-center">
      <!-- Image Column -->
      <div class=" col-12 col-md-6 text-center d-flex justify-content-center">
        <div class="dark-section curves w-75 p-4 shadow-hover">
          <img class="curves img-fluid" src="assets/sidPhotoMin.png" alt="Image">
        </div>
      </div>
      <!-- Text Column -->
      <div class="col-12 col-md-6 mt-4">
        <h1 class="text-center text-md-start">Myself, Siddhesh Bajad</h1>
        <div class="ml-4 about">
          <h6 class="pt-3 text-justify">
            I am a Final year undergrad student of BTech Information Technology department of Pimpri Chinchwad College of Engineering (PCCOE), Pune. 
            I am interested in learning new technologies. Certain skills that I have worked with include Data Structures and Algorithms in C/C++, Web Development (HTML, CSS, JavaScript, Nodejs, React, Databases), Ethereum Blockchain using Solidity and Smart contracts.
            Apart from Tech, I love to play Badminton and Cricket, hanging out with my friends and listening to music.
          </h6>
          <div class="mt-10 align-items-center text-center">
            <div class="text-box-container">
              <div class="text-box rotate-animation">
                <h1>I am  <span class="dark-text">{{ currentText }}</span></h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="m-0 dark-section" id="Projects">
    <h1 class="p-4 text-center">Projects</h1>
    <div class="row mx-5">
      <div *ngFor="let project of projects" class="col-12 col-sm-6 col-md-4 mb-4">
        <div class="card curves h-100 light-section col-auto shadow-hover" style="max-height: 400px;">
          <div class="card-body text-center justify-content-center overflow-auto">
            <h4 class="card-title">{{ project.name }}</h4>
            <p class="card-text justify-text overflow-auto pr-2 custom-scrollbar">{{ project.description }}</p>
          </div>
          <div class="curves light-section d-flex justify-content-center pb-3">
            <!-- <a href="{{ project.link }}" class="btn btn-primary mr-3">Link</a> -->
            <a *ngIf="project.github" href="{{ project.github }}" target="_blank" class="btn btn-secondary"><i class="fa fa-github"></i> GitHub</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="m-0 light-section vh-80" id="Skills">
    <h1 class="p-4 text-center">Skills</h1>
    <div class="container">
      <div class="row">
        <div class="col-6 col-md-4 col-lg-2 text-center mb-4 d-flex flex-column align-items-center" *ngFor="let skill of skills">
          <!-- <span clas=""> -->
            <img src="{{ skill.path }}" alt="Skill Logo" class="img-fluid fixed-size">
            <h5 class="mt-2">{{ skill.name }}</h5>
          <!-- </span> -->
        </div>
      </div>
    </div>
  </div>


  <div class="m-0 dark-section">
    <h1 class="p-4 text-center">Extra Curricular</h1>
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-md-4 mb-4" *ngFor="let activity of extraCurriculars">
          <div class="card curves light-section col-auto shadow-hover" style="height: auto;">
            <div class="card-body curves light-section text-center">
              <h5 class="card-title justify">{{ activity.name }}</h5>
              <p class="px-2 card-text justify-text">{{ activity.description }}</p>
              <a *ngIf="activity.link" target="_blank" href="{{ activity.link }}" class="btn btn-primary">Learn More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="m-0 light-section">
    <h1 class="p-4 text-center">Certifications</h1>
    <div class="row mx-5 align-items-center justify-content-center">
      <div *ngFor="let certificate of certifications" class="col-12 col-sm-6 col-md-4 mb-4">
        <div class="card curves dark-section col-auto shadow-hover">
          <div class="card-body text-center justify-content-center overflow-auto">
            <div class="d-flex align-items-center">
              <a class="d-flex justify-content-center pr-4" href="{{ certificate.link }}" target="_blank">
                <img src="assets/certificate.png" class="h-8">
              </a>
              <h6 class="text-left">{{ certificate.name }}</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="m-0 dark-section" id="Contact">
    <h1 class="p-4 text-center">Contact</h1>
    <div class="row mx-5">
      <div *ngFor="let contact of contacts" class="contact-item py-2">
        <a [href]="contact.detail" target="_blank" class="text-decoration-none no-link-style">
          <div class="light-section shadow-hover curves d-flex align-items-center">
            <img src="{{ contact.icon }}" class="small-size px-2" alt="img">
            <h6 class="px-2">{{ contact.detail.slice(8) }}</h6>
          </div>
        </a>
      </div>
    </div>
    <div class="footer mt-5 mb-0">
      <p class="mb-0 pl-10 pb-2">© {{ date }} Siddhesh Bajad™</p>
    </div>
  </div>
</div>   
